{
  "presets": ["env", "react-app"],
  "plugins": [
    ["import", {
      "libraryName": "antd",
      "style": "css",
    }],
    "transform-decorators-legacy"
  ],
  "env": {
    "production": {
      "plugins": [
        "transform-runtime"
      ]
    }
  }
}
